.product-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#productList {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 products per row */
    gap: 20px; /* Space between each product */
}

.product-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-card p {
    margin: 5px 0;
}

.add-to-cart-btn {
    background-color: orange; /* Green */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #dba123; /* Darker background color on hover */
    transform: translateY(-5px) scale(1.05); /* Moves button up and scales it */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* More pronounced shadow on hover */
}
.add-to-cart-btn:active
{
    transform: translateY(0) scale(1); /* Reset scaling on click */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Back to original shadow */
}

/* Style for the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f1f1f1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.header-left h1 {
    margin: 0;
    font-size: 24px;
}

.header-middle {
    display: flex;
    align-items: center;
}

#searchBar {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#searchBtn {
    background-color: orange; /* Green */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

#searchBtn:hover {
    background-color: #dba123; /* Darker background color on hover */
    transform: translateY(-5px) scale(1.05); /* Moves button up and scales it */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* More pronounced shadow on hover */
}

#searchBtn:active
{
    transform: translateY(0) scale(1); /* Reset scaling on click */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Back to original shadow */
}
.header-right {
    position: relative;
}

#cartImage {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#cartImage:hover {
    transform: scale(1.1);
}


#cartCounter {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
